{{#section 'stylesheet'}}
<link rel="stylesheet" href="/css/options.css">
<link rel="stylesheet" href="/css/friendrequest.css">
{{/section}}

<div class="main">
    <div class="connect-request-form">
        <div class="connect-request__select">
            <div class="connect-request__select__back">
                Yêu cầu ghép cặp
            </div>

            <div class="connect-request__main">
                <div class="connect-request__container">
                    <ul class="connect-request__list">
                        {{#each senderList}}
                        <li class="connect-request__item" userid={{this.userId}}>
                            <img src="/img/monleo.jpg" alt="" class="connect-request__img">
                            <div class="connect-request__brief">
                                <div class="connect-request__name">{{this.fName}}</div>
                                <div class="connect-request__gender">{{{genderMapping this.gender}}}</div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="imformation-container">
            <div class="imformation__header">
                Thông tin chung
            </div>

            <div class="imformation__content"></div>

            <div class="user-action-container hidden">
                <button class="user-action__button user-action__button--see">
                    Xem trang cá nhân
                </button>
                <button class="user-action__button user-action__button--accept">
                    Đồng ý
                </button>
                <button class="user-action__button user-action__button--reject">
                    Từ chối
                </button>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
<script src="/js/options.js"></script>
<script src="/js/friend-request.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{/section}}